@{
    ViewData["Title"] = "Login 2";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login & Signup</title>
  <link rel="stylesheet" type="text/css" href="~/css/index2.css">
</head>
<body>
  <div class="container">
    <div class="side-1">
      <div class="header">
        <h2 class="h-main">Welcome Back!</h2>
        <p class="h-sec">Please log in with your username and password</p>
        <button class="toggle-log">SIGN UP</button>
      </div>
    </div>
    <div class="side-2">
      <div class="header">
        <h2 class="h-main">Hey there!</h2>
        <p class="h-sec">Enter your personal details and start today!</p>
        <button class="toggle-log">SIGN IN</button>
      </div>
    </div>
    <div class="forms">
      <div class="sign-up">
        <div class="form">
          <fieldset class="block">
            <h2 class="form-h">Sign up</h2>
            <div class="log-buttons"><a class="log-btn log-fb" href="#"></a><a class="log-btn log-gp" href="#"></a><a class="log-btn log-li" href="#"></a></div>
            <form method="POST" action="/login2">
              <input type="hidden" name="action" value="signup" />
              <input class="input-text" placeholder="Email" name="email" type="email" required/>
              <input class="input-text" placeholder="Username" type="text" name="username"/>
              <input class="input-text" placeholder="Password" name="password" type="password" required/>
              <input class="input-submit" type="submit" value="SIGN UP" />
            </form>
          </fieldset>
        </div>
      </div>
      <div class="sign-in">
        <div class="form">
          <fieldset>
            <h2 class="form-h">Sign in</h2>
            <div class="log-buttons"><a class="log-btn log-fb" href="#"></a><a class="log-btn log-gp" href="#"></a><a class="log-btn log-li" href="#"></a></div>
            <form method="POST" action="/login2">
              <input type="hidden" name="action" value="login" />
              <input class="input-text" placeholder="Email" name="email" type="email" required/>
              <input class="input-text" placeholder="Password" type="password" name="password" required/><a class="forgot" href="#">Forgot your password?</a>
              <input class="input-submit" type="submit" value="SIGN IN" />
            </form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  @if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }

  <!-- Include your JavaScript -->
  <script src="~/js/index.js"></script>
</body>
</html>
